.App {
  font-family: sans-serif;
  text-align: center;
}
nav {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  font-size: 24px;
}
nav > a {
  text-decoration: none;
  padding: 0.5rem;
}

.selected {
  background-color: lightgrey;
  padding: 0.5rem;
  border-bottom: 2px solid red;
  border-radius: 0.25rem;
}
button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
table,
th,
td {
  border: 1px solid black;
}
table {
  width: 95%;
  border-collapse: collapse;
  margin: 20px auto;
}
form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 20px auto;
  justify-content: center;
}
